//nesting
//import
@import"partials/mq.scss";
@import"reset/reset.scss";
@import"html/productos.scss";
@import"html/carrito.scss";
@import"html/contacto.scss";
@import"html/tutoriales.scss";
@import"utilidades/variables.scss";


main {
    h1 {
        margin-top: 20px;
        font-size: 180%;
        text-align: center;
        text-decoration: dotted;
        color: $color-secundario;
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        transition-duration: 1.4s;
        transition-timing-function: ease-in-out;

        &:hover {
            scale: 1.2;
            text-transform: uppercase;
        }
    }

}

.container-index {

    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 18%);
    gap: 0 10px;
    row-gap: 80px;
    align-content: center;
    text-align: center;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 35%);
        margin-bottom: 65px;
        gap: 10px;
        row-gap: 90px;
    }


    @include desktop {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 450px);
        column-gap: 70px;
        margin: 0 30px;
        margin-bottom: 140px;
    }

    .imgi {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10%;
    }

    .parrafo-index {
        color: $color-secundario;
        font-size: 100%;
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }
}

footer {
    background-color: #232222;
    color: $color-secundario;
    padding: 10px;
    display: grid;
    align-content: center;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 5% 5% 0 0;

    h2 {
        text-align: center;
    }

    .enlace-redes {
        text-decoration: none;
        color: rgb(203, 80, 56);

        &:hover {
            color: bisque;

        }
    }
}